# Database
POSTGRES_DB=netflix_streaming
POSTGRES_USER=netflix
POSTGRES_PASSWORD=change_this_strong_password

# App
SECRET_KEY=change_this_to_a_random_64_char_string

# AWS S3 (storage only — app runs on DigitalOcean Droplet)
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=netflix-mumbai-isd
S3_MEDIA_ROOT=netflix

# TMDB (optional)
TMDB_API_KEY=

# Your domain
DOMAIN=yourdomain.com

# CORS — set to your frontend domain
ALLOWED_ORIGINS=https://yourdomain.com

# CDN node public URLs (browser-accessible)
# Replace with your Droplet's Reserved IP
CDN1_PUBLIC_URL=http://YOUR_DROPLET_IP:3001
CDN2_PUBLIC_URL=http://YOUR_DROPLET_IP:3002
CDN3_PUBLIC_URL=http://YOUR_DROPLET_IP:3003
